<header>
  <h1>Todo List of Destiny!</h1>
  <nav>
    <li><a href="/" >Home</a></li>
    <li><a href="/todos" >Todos</a></li>
    <li><a href="/todos/new" >New Todo</a></li>
  </nav>
</header>
<h2>Wiggle wiggle!</h2>